<template>
    <div class="dashboard">
        <nav class="navbar navbar-expand-lg bg-light shadow">
            <h3>Task</h3>
            <span class="text-dark ml-auto"> Welcome, {{ user.name }}!</span>
            <button
                class="btn btn-danger btn-sm ml-3"
                v-on:click="logout()"
                :disabled="disabled"
            >
                Logout
            </button>
        </nav>
        <div
            class="container-fluid d-flex justify-content-center align-items-center"
        >
            <div class="task shadow">
                <div class="new-task bg-light">
                    <h3 class="my-3 ml-3 ">New Task</h3>
                    <form @submit.prevent="newTask(task)" class="ml-3">
                        <div class="form-group w-75">
                            <label for="name">Task Name</label>
                            <input
                                class="form-control"
                                type="text"
                                name=""
                                id="name"
                                placeholder="Name here"
                                v-model="task.name"
                            />
                        </div>
                        <div class="form-group w-75">
                            <label for="description">Task Description</label>
                            <textarea
                                class="form-control"
                                type="text"
                                name=""
                                id="description"
                                placeholder="Description here"
                                v-model="task.description"
                            ></textarea>
                        </div>
                        <div class="form-group w-75">
                            <button type="submit" class="btn btn-primary w-100">
                                Add Task
                            </button>
                        </div>
                    </form>
                </div>
                <div class="your-task bg-light">
                    <h3 class="mt-3 ml-3">Your Task</h3>
                    <div class="task-container mt-5">
                        <ul>
                            <li
                                class="my-2"
                                v-for="task in tasks.data"
                                :key="task.id"
                            >
                                <span
                                    class="mr-5"
                                    :class="
                                        task.completed === 1 ? 'completed' : ''
                                    "
                                    >{{ task.name }}
                                </span>
                                <button
                                    class=" btn btn-sm"
                                    data-toggle="modal"
                                    data-target="#delete-task"
                                    v-on:click="del(task.id)"
                                >
                                    🗑️
                                </button>
                                <button
                                    class="btn btn-sm"
                                    data-toggle="modal"
                                    data-target="#mark-task"
                                    v-on:click="
                                        completeTask(task.completed, task.id)
                                    "
                                >
                                    {{ task.completed === 0 ? "✔️" : "↩️" }}
                                </button>
                                <button
                                    class="btn btn-outline-info btn-sm"
                                    data-toggle="modal"
                                    data-target="#detail-task"
                                    v-on:click="showTask(task)"
                                >
                                    Detail
                                </button>
                            </li>

                            <pagination
                                class="float-right pagination pagination-sm mr-5 mt-auto"
                                :data="tasks"
                                @pagination-change-page="getTasks"
                            >
                                <span slot="prev-nav" class="text-dark"
                                    >&lt; Previous</span
                                >
                                <span slot="next-nav" class="text-dark"
                                    >Next &gt;</span
                                >
                            </pagination>
                        </ul>
                    </div>

                    <!-- Modal -->
                    <div
                        class="modal fade"
                        id="delete-task"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="delete-task"
                        aria-hidden="true"
                    >
                        <div
                            class="modal-dialog modal-dialog-centered"
                            role="document"
                        >
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-task">
                                        Delete Task
                                    </h5>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Do you want to delete the task?
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        data-dismiss="modal"
                                    >
                                        Close
                                    </button>
                                    <button
                                        type="button"
                                        class="btn btn-danger"
                                        v-on:click="deleteTask(currentIndex)"
                                    >
                                        Delete
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div
                        class="modal fade"
                        id="detail-task"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="detail-task"
                        aria-hidden="true"
                    >
                        <div
                            class="modal-dialog modal-dialog-centered"
                            role="document"
                        >
                            <div class="modal-content ">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="delete-task">
                                        About Task
                                    </h5>
                                    <button
                                        type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close"
                                    >
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div
                                        class="d-flex flex-column justify-content-center"
                                    >
                                        <h3>{{ detail.name }}</h3>
                                        <span>{{ detail.description }}</span>
                                        <span
                                            >Status:
                                            {{
                                                detail.completed === 1
                                                    ? "Completed"
                                                    : "Incomplete"
                                            }}</span
                                        >
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button
                                        type="button"
                                        class="btn btn-secondary"
                                        v-on:click="hideTask()"
                                    >
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapMutations, mapGetters, mapActions } from "vuex";
import toastr from "toastr";
export default {
    data() {
        return {
            currentIndex: 0,
            task: {
                id: 0,
                name: "",
                description: "",
                completed: false
            },
            detail: {
                id: 0,
                name: "",
                description: "",
                completed: false
            },
            disabled: false,
            tasks: {},
            tasksObj: {}
        };
    },
    computed: {
        ...mapGetters({
            user: "getUser",
            token: "getToken"
        })
    },
    methods: {
        ...mapMutations(["clearToken"]),
        ...mapActions(["fetchUser"]),
        logout() {
            this.disabled = true;
            axios
                .post(`api/auth/logout?token=${localStorage.getItem("token")}`)
                .then(res => {
                    console.log(res.data.message);
                    localStorage.removeItem("token");
                    toastr.success("Logged out!");
                    this.disabled = false;
                    this.$router.push({ name: "Login" });
                })
                .catch(err => {
                    console.error(err);
                });
        },
        clearFields() {
            this.task.name = "";
            this.task.description = "";
            this.task.completed = false;
        },
        async completeTask(status, id) {
            const completed = status === 0 ? 1 : 0;
            await axios
                .put(
                    `api/task/complete_task?token=${this.token}&user_id=${this.user.id}&id=${id}&completed=${completed}`
                )
                .then(res => {
                    console.log(res.data.message);
                })
                .catch(err => {
                    console.error(err);
                });

            await this.getTasks();
            toastr.success(
                completed == 0 ? "Task Completed!" : "Task Incomplete!"
            );
        },
        async newTask(task) {
            const newTask = { ...task };
            axios
                .post(
                    `api/task/store?token=${this.token}&user_id=${this.user.id}`,
                    {
                        task: newTask
                    }
                )
                .then(res => {
                    console.log(res);
                })
                .catch(err => {
                    console.error(err);
                });
            this.clearFields();
            toastr.success("New Task Added");

            await this.getTasks();
        },
        del(index) {
            this.currentIndex = index;
        },
        showTask(task) {
            this.detail = { ...task };
        },
        hideTask() {
            this.detail = "";
            $("#detail-task").modal("hide");
        },
        async deleteTask(index) {
            await axios
                .delete(
                    `api/task/delete?token=${this.token}&user_id=${this.user.id}&id=${index}`
                )
                .then(res => {
                    console.log(res);
                })
                .catch(err => {
                    console.error(err);
                });
            toastr.success("Task Deleted!");
            await this.getTasks();
            $("#delete-task").modal("hide");
        },
        async getTasks(page = 1) {
            await axios
                .get(
                    `api/task/get?page=${page}&token=${this.token}&user_id=${this.user.id}`
                )
                .then(res => {
                    this.tasks = res.data;
                })
                .catch(err => {
                    console.error(err);
                });
        }
    },
    async created() {
        await this.fetchUser();
        await this.getTasks();
    },
    mounted() {
        this.disabled = false;
        if (!localStorage.getItem("token") == "") {
            axios
                .get(`api/auth/verify_token?token=${this.token}`)
                .then(res => {
                    if (!res.data.hasToken) {
                        this.$router.push("/login");
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        } else {
            this.clearToken();
            this.$router.push("/login");
        }
    }
};
</script>

<style scoped>
.dashboard {
    width: 100%;
    height: 100vh;
    background: url("../../../img/bg-dashboard.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.task {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-task,
.your-task {
    padding: 10px;
    width: 400px;
    height: 400px;
}
span.completed {
    text-decoration: line-through;
}

ul {
    list-style: none;
}

ul li::before {
    content: "📌";
    padding-right: 10px;
}

textarea {
    resize: none;
    height: 100px;
}
</style>
