<template>
    <div class="login">
        <div
            class="d-flex flex-column justify-content-center align-items-center bg-light"
        >
            <h1 class="pb-1">Welcome to Task</h1>
            <ul class="check">
                <li>Add your task</li>
                <li>Easy to use</li>
                <li>Convenient</li>
            </ul>
        </div>
        <form @submit.prevent="login()" class="login-form bg-light shadow">
            <div class="form-group">
                <h1 class="mb-5 font-weight-bold">Login</h1>
                <label for="email">Email</label>
                <input
                    class="form-control form-control-sm"
                    type="email"
                    name=""
                    id="email"
                    v-model="credential.email"
                    
                />
                <br />
                <label for="password">Password</label>
                <input
                    class="form-control form-control-sm"
                    type="password"
                    name=""
                    id="password"
                    v-model="credential.password"
                />
                <br />
                <button class="btn btn-success w-100" type="submit">
                    Login
                </button>
                <br />
                <span
                    >Don't have account yet?
                    <router-link to="/register">Register</router-link></span
                >
            </div>
        </form>
    </div>
</template>

<script>
import { mapMutations } from "vuex";
import toastr from 'toastr';

export default {
    data() {
        return {
            credential: {
                email: "",
                password: ""
            }
        };
    },
    methods: {
        ...mapMutations(['setToken']),
        login() {
            axios
                .post("api/auth/login", this.credential)
                .then(res => {
                    if (res.data.success) {
                        this.setToken(res.data.access_token);
                        toastr.success("Succesfully logged in!");
                        this.$router.push({ name: "Dashboard" });
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        },
        validate() {}
    },
    mounted() {
        if (!localStorage.getItem("token") == "") {
            axios
                .get(
                    `api/auth/verify_token?token=${localStorage.getItem(
                        "token"
                    )}`
                )
                .then(res => {
                    if (res.data.hasToken) {
                        this.$router.push("/");
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        }
    }
};
</script>

<style scoped>
.login {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../../../img/bg-login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.login-form,
.login div {
    width: 30vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group input,
.form-group label,
.btn {
    width: 200px !important;
}
</style>
