<template>
  <div class="not-found">
      <h1 class="text-dark">404 | Not Found</h1>
      <router-link to="/" class="nav-link">Go to Home Page</router-link>
  </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
</style>