<template>
    <div class="register">
        <form
            @submit.prevent="register(account)"
            class="register-form bg-light shadow"
        >
            <h1 class="pb-5">Welcome to Task</h1>
            <div class="form-group">
                <label for="name">Name</label>
                <input
                    class="form-control form-control-sm"
                    type="text"
                    name=""
                    id="name"
                    v-model="account.name"
                />
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input
                    class="form-control form-control-sm"
                    type="email"
                    name=""
                    id="email"
                    v-model="account.email"
                />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input
                    class="form-control form-control-sm"
                    type="password"
                    name=""
                    id="password"
                    v-model="account.password"
                />
            </div>
            <div class="form-group">
                <label for="password_confirmation">Confirm Password</label>
                <input
                    class="form-control form-control-sm"
                    type="password"
                    name=""
                    id="password_confirmation"
                    v-model="account.password_confirmation"
                />
            </div>
            <div class="form-group d-flex flex-column">
                <button class="btn btn-success w-100" type="submit">
                    Register
                </button>
                <span class="text-center"
                    >or <br /><router-link to="/login">Login</router-link></span
                >
            </div>
        </form>
    </div>
</template>

<script>

import toastr from 'toastr'

export default {
    data() {
        return {
            account: {
                name: "",
                email: "",
                password: "",
                password_confirmation: ""
            }
        };
    },
    methods: {
        register() {
            axios
                .post("api/auth/register", this.account)
                .then(res => {
                    if (res.data.success) {
                        toastr.success("Your account successfully registered!");
                        this.$router.push({ name: "Login" });
                    }
                })
                .catch(err => {
                    console.error(err);
                });
        },

    }
};
</script>

<style scoped>
.register {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url("../../../img/bg-register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.register-form {
    width: 50vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-group input,
.btn {
    width: 200px !important;
}
</style>
